@import url('https://fonts.googleapis.com/css?family=Poppins');
@import '../../node_modules/materialize-css/sass/materialize.scss';

$fontHeading: #65766d;

body {
	background-color: #f1f8fa;
	font-family: 'Poppins', sans-serif;
    color:$fontHeading;

	h1 {
		font-family: 'Poppins', sans-serif;
		color: $fontHeading;
		font-weight: 700;
		text-transform: uppercase;
	}
	> h3 {
		font-weight: bold;
		font-size: 2em;
	}
}

.card.large {
	height: 70%;

	.card-title{
		font-weight: bold;
	}
	.card-content {
		h3{
			font-size: 2em;
			font-weight: bold;
		}
		h5 {
			font-size: 1.2em;
			font-weight: bold;
		}
	}
}


#searchForm {
	> .input-field {
		padding: 0;
	}
}

#movieUl {
	border: none;
}

#movieListWrapper {
	ul {
		display: none;
	}
	ul:last-child {
		background-color: #fff;
		display: block;
		border-radius: 6px;
		box-shadow: 0 2px 40px rgba(0,0,0,0.05);
		//border: none;
		
		li {
			display: inline-block;
			top: 1em;
			border-bottom: none;

			@media screen and (max-width: 600px) {
				display: block;
			}

			a {
				display: block;
				color: $fontHeading;

				.circle {
					top: 0;
					//position: inherit;
				}
			}
		}
	}
}

.details-buttons {
	a {
		margin: .5em;
	}
}